body { 
  font: normal 14px/20px "Helvetica Neue", Helvetica, sans-serif;
  background: rgb(237, 237, 236);
  margin: 0;
  margin-top: 40px;
  padding: 0;
}
.text-side {
  height:140px;
} 

#top {
  background: white;
  height:70px;  
  left:0px;     
  top:0px;
  right:0px;
  position:absolute;  
  padding-left:150px;
}
    
#notes {
  width:100%;
  height:100%;
  margin-top:75px;
}
section {       
    max-height: 140px;
    width: 180px;
    margin: 10px;  
    display:block;  
}
.note {
  width: 200px; 
  height:200px;
}

button.ui-button-icon-only {
   width: 1.1em;
   height: 1.1em; 
}

div.color_buttons label {
  width: 1em;
  height: 1em;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}      

#add_note {
  display:block;
  position:absolute;
  left:5px;
  top:15px;  
  z-index:999;
} 

.bottom {
  margin-top:2px;
}

.user-gravatar {
  float:left;
  margin:6px;
  margin-right:3px;
}   

.remove {
  background: transparent url('images/fancybox.png') -40px 0px;  
  width:30px;
  height:30px; 
  float: left;
  margin-top: -166px;
  margin-left: -13px;
  cursor:pointer;
}

.follow {
  background: transparent url('images/add.png') no-repeat;  
  width:34px;
  height:34px; 
  float: left;
  margin-top: -166px;
  margin-left: -13px;
  cursor:pointer;
}  

.box{
    padding: 0 0 1px 0;
    position:relative;
    background: #fff;
    background: -webkit-gradient(linear, 100% 100%, 50% 10%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
    background: -moz-linear-gradient(100% 50%, #fff, #fff 10%, #f3f3f3);
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0, 0.1);
    -moz-box-shadow: 1px 1px 4px rgba(0,0,0, 0.1);
    box-shadow: 1px 1px 4px rgba(0,0,0, 0.1);
    -webkit-border-bottom-right-radius: 60px 5px;
    -moz-border-radius-bottomright: 60px 5px;
    border-bottom-right-radius: 60px 5px;   
}                                        

.box:before{
    content: '';
    width: 98%;
    z-index:-1;
    height: 100%;
    padding: 0 0 1px 0;
    position: absolute;
    bottom:0; right:0;
    background: #fff;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f9f9f9), color-stop(.1,#fff));
    background: -moz-linear-gradient(0 0 270deg, #fff, #fff 10%, #f9f9f9);
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 8px rgba(0,0,0, 0.1);
    -moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
    -webkit-border-bottom-right-radius: 60px 5px;
    -moz-border-radius-bottomright: 60px 5px;
    border-bottom-right-radius: 60px 5px;
    -webkit-transform: skew(2deg,2deg)
                        translate(3px,8px);
    -moz-transform: skew(2deg,2deg)
                        translate(3px,8px);
        -o-transform: skew(2deg,2deg)
                        translate(3px,8px);
    transform: skew(2deg,2deg)
                        translate(3px,8px);                     
}
.box:after{
    content: '';
    width: 98%;
    z-index:-1;
    height: 98%;
    padding: 0 0 1px 0;
    position: absolute;
    bottom:0; right:0;
    background: #fff;
    background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#f3f3f3), to(#f6f6f6), color-stop(.1,#fff));
    background: -moz-linear-gradient(0 0 360deg, #f3f3f3, #fff 10%, #f6f6f6);
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0, 0.1);
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0, 0.1);
    box-shadow: 0px 0px 8px rgba(0,0,0, 0.1);
    -webkit-transform: skew(2deg,2deg)
                        translate(-1px,2px);
    -moz-transform: skew(2deg,2deg)
                        translate(-1px,2px) ;
        -o-transform: skew(2deg,2deg)
                        translate(-1px,2px) ;
    transform: skew(2deg,2deg)
                        translate(-1px,2px) ;                   
}

.share {
  font-size: 12px; 
  margin-left: 10px;
  margin-bottom:-5px;
} 

.share .ui-button-text {
  line-height:1em;
}