body { 
  font: normal 14px/20px "Helvetica Neue", Helvetica, sans-serif;
  background: rgb(237, 237, 236);
  margin: 0;
  margin-top: 40px;
  padding: 0;
}
.text-side {
  height:140px;
} 

#top {
  background: white;
  height:70px;  
  left:0px;     
  top:0px;
  right:0px;
  position:absolute;  
  padding-left:150px;
}
    
#notes {
  width:100%;
  height:100%;
  margin-top:75px;
}
section {       
    max-height: 140px;
    width: 180px;
    margin: 10px;  
    display:block;  
}
.note {
  width: 200px; 
  height:200px;
}

button.ui-button-icon-only {
   width: 1.1em;
   height: 1.1em; 
}

div.color_buttons label {
  width: 1em;
  height: 1em;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}      

#add_note {
  display:block;
  position:absolute;
  left:5px;
  top:15px;  
  z-index:999;
} 

.bottom {
  margin-top:2px;
}

.user-gravatar {
  float:left;
  margin:6px;
  margin-right:3px;
}   

.remove {
  background: transparent url('images/fancybox.png') -40px 0px;  
  width:30px;
  height:30px; 
  float: left;
  margin-top: -166px;
  margin-left: -13px;
  cursor:pointer;
}

.follow {
  background: transparent url('images/add.png') no-repeat;  
  width:34px;
  height:34px; 
  float: left;
  margin-top: -166px;
  margin-left: -13px;
  cursor:pointer;
}