<div class="note" style="left:{{form.left.value}}px;top:{{form.top.value}}px;position:absolute;">
  <div class="box">
  <form action="/memo/follower_notes/{{ form.instance.pk }}/"> 
  <div class="text-side">  
   <section class="editable">{{ form.instance.note.text }}</section>   
   </div>    
    <div class="bottom">
      <a href="/memo/unfollow/{{ form.instance.note.pk }}/" class="remove"></a>
      {% for field in form %}          
            {{ field }}          
      {% endfor %}   
    </div>                                                                   
  </div> 
  </div>
</form>  
</div>