{% extends 'memo/layout.html' %}
{% load notes %} 
{% load gravatar %}

{% block javascript %} 
<script src="/memo/media/js/notes.js" type="text/javascript"></script> 
<script>  
  $().ready(function(){
    $("#empty_form").hide();           
  	$("#add_note").button({
        icons: {
            primary: "ui-icon-circle-plus"
        },
    });  
    $("#add_note").click(function(){
      var form = $("#empty_form form");
      $.ajax({
        type: 'POST',
        url: form.attr("action"),
        data: form.serialize(), 
        success: append_note
      });
    });    
    $(".user-gravatar").button().click(function(){ 
      location.href = $(this).children().children("a").attr("href");
    });
    init_notes();           
  });  
</script>
{% endblock %}

{% block body_top %}
  <div id="top">
    <div class="user-gravatar">
        <a href="{% url memo.views.dashboard %}">
          <img src="{% gravatar_for_user user.username 48 %}" style="float:left;"/>   
          <p class="name" style="margin-left:5px;float:left;"><b>{{ user.username }}</b> 
        </a>  
     </div>
    {% for user in users %}
      <div class="user-gravatar">
        <a href="{% url memo.views.dashboard user.owner__id %}">
          <img src="{% gravatar_for_user user.owner__username 48 %}" style="float:left;"/>   
          <p class="name" style="margin-left:5px;float:left;"><b>{{ user.owner__username }}</b> 
        </a>
      </div>
    {% endfor %}
  </div>           
{% endblock %}

{% block body_middle %}  
  <div id="notes">
    {% for form in forms %}  
      {% render_note_form form %}
    {% endfor %}
    
    {% for follow in followings %}  
      {% render_follownote_form follow %}
    {% endfor %}  
      
  </div>
{% endblock %}   

{% block body_bottom %}      
   <button id="add_note">Add Note</button>
{% endblock %}