{% extends 'memo/note_list.html' %} 
{% load notes %}   

{% block javascript %} 
<script src="{{ STATIC_URL }}js/notes.js" type="text/javascript"></script> 
<script> 
  $().ready(function(){ 
    $(".user-gravatar").button().click(function(){ 
      location.href = $(this).children().children("a").attr("href");
    });
    init_notes();      
  });  
</script>
{% endblock %}         

{% block body_middle %}  
  <div id="notes">
    {% for form in forms %}  
      {% render_publicnote_form form user %}
    {% endfor %}          
  </div>
{% endblock %}

{% block body_bottom %}      
{% endblock %}