<div {% if not form.instance.pk %} id="empty_form" {% endif %} class="note ui-widget-content" style="left:{{form.left.value}}px;top:{{form.top.value}}px;position:absolute;background:{{ form.color.label }};">
  {% if form.instance.pk %}
    <form action="/memo/notes/{{ form.instance.pk }}/"> 
  {% else %}
    <form action="/memo/notes/add/"> 
  {% endif %}
  <div class="text-side">  
   <section class="editable">{{ form.text.value }}</section>   
   </div>   
    <a href="/memo/follow/{{ form.instance.pk }}/" class="follow"></a> 
    <div class="bottom" style="display:none;">
      <a href="/memo/notes/{{ form.instance.pk }}/delete/" class="remove"></a>
      <a href="/memo/follow/{{ form.instance.pk }}/" class="follow"></a>
      {% for field in form %}
            {{ field }}      
      {% endfor %}   
    </div>                                                                   
  </div>
</form>  
</div>